# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.env.*
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Bytecode
*.pyc

# Logs and databases
*.log

# Testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
cython_debug/

# Ruff
.ruff_cache/

# ========================
# Node / Frontend
# ========================
node_modules/
dist/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ========================
# System
# ========================
.DS_Store
Thumbs.db
